body {
    text-align: center;
    font-family: Arial;
}
body
 {
     color: blue;
<<<<<<< HEAD
 }
=======
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
.cabecera {
    width: 70%;
    border: 1px solid gray;
    height: 20%;
    display: inherit;
    justify-content: center;
    box-shadow:5px 5px 5px 5px black ;
}
>>>>>>> cabecera
